<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Relatório Nonaka's</title>
    <link rel="stylesheet" href="..\projeto\css\lista.css"/>
</head>
<body>
<header>
        <nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"> <img
			src="projeto\img\Nonakas-Logo.png" width="30" height="30"
			class="d-inline-block align-top" alt=""> Nonaka's
		</a>
	</nav>
</header>
<div class="container" id="home1">
		<section class="section" id="home">
			<h1 class="h1">Relatórios</h1>
			<div class="table-responsive">
			<table class="table">
			  	<thead class="table table-hover">
			  	<tr>
			    	<th scope="col">Produto</th>
			    	<th scope="col">Categoria</th>
			  		<th scope="col">Preço de Venda</th>
			      	<th scope="col">Data de Entrada no Estoque</th>		      	
			      	<th scope="col">Quantidade de Entrada</th>
			   		<th scope="col">Quantidade Vendida</th>
			   		<th scope="col">Quantidade Atual</th>
			   		
			   
			   	</tr>
				</thead>
  				<!--  <tbody>
	  				<tr th:each="cliente : ${clientes}">	
					<td><a th:href="@{/compra}"><span th:text ="${cliente.nome}"></span></a></td>
					<td><span th:text ="${cliente.cpf}"></span></td>
					<td><span th:text ="${cliente.email}"></span></td>
					<td><span th:text ="${cliente.telefone}"></span></td>
					<td><span th:text ="${cliente.dataRegistro}"></span></td>
					<td><a th:href="@{/deletarCliente/{codigo}(codigo = ${cliente.codigo}) }"><i class="far fa-trash-alt"></i></a>
					<a th:href="@{/editarCliente/{codigo}(codigo = ${cliente.codigo}) }"><i class="fas fa-pencil-alt"></i></a>
					</td>
					</tr>
				</tbody>-->
			</table>
			</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>